@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.back-top {
  background-color: #009688;
  height: 15vh;
}

.back-main {
  background-color: #d9dbd5;
  height: 85vh;
}

.back-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.front-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.front-container1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 100%;
}

.chat-top {
  background-color: #ededed;
  min-height: 50px;
}

.profile-image {
  margin-top: 7px;
  height: 30px;
  width: 30px;
}

.contacts {
  background-color: #ffffff;
  min-height: 600px;
  padding: 0;
}

.contact-table-scroll {
  overflow-y: auto;
  height: 600px;
}

.contact-table-scroll::-webkit-scrollbar {
  width: 5px;
}

.contact-table-scroll::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}

.contacts .chat-contact {
  background-color: #fff;
  transition: background-color 0.3s;
}

.contacts .chat-contact:hover {
  background-color: #f1f1f1;
}

.message-area {
  background-color: #e4e1de;
  min-height: 600px;
  padding: 0;
  display: grid;
  grid-template-rows: auto 70px;
}

.message-table-scroll {
  overflow-y: auto;
  height: 530px;
}

.message-table-scroll::-webkit-scrollbar {
  width: 5px;
}

.message-table-scroll::-webkit-scrollbar-thumb {
  background-color: #a5a5a590;
}

.message-box {
  background-color: #f0f0f0;
}

.message-box .send-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #009688;
  font-size: 1.5rem;
}