{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Chat App</title>
</head>

<body>
    <div class="container">
        <h1> Chat with Friends</h1>
        <div class="links">
            <a href="{% url 'login'%}">login</a>
            <p>or</p>
            <a href="{% url 'users:register'%}">signup</a>
        </div>
    </div>
</body>

</html>