{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

{% block content %}
<main class="user-auth">

    <div class="form-container">
        <h2>login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">log in</button>
            <input type="hidden" name="next" value="{% url 'texting:home'  %}" />
        </form>
        <div class="post-form"><span>Don't have an account? <a href="{% url 'users:register' %}">Register</a></span>
        </div>
    </div>
</main>
{% endblock content %}